#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "Test";
            bindings = <
                &kp N1  &kp N2  &kp N3     &kp N4
                &kp N5  &kp N6  &kp N7     &kp N8
                &kp N9  &kp N0  &kp MINUS  &kp EQUAL
                &kp C_MUTE
            >;
            // Clockwise: volume up; counterclockwise: volume down.
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
